  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
.active{
      color: #fff
}
.active:focus, .active:hover {      
  text-decoration:none;
  color:rgb(255, 255, 255);
}    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; 
      background-color: #333;  
      height: 50px; 

    }
    li a:hover + .container{
      background-color:rgb(202, 31, 31);      
      background:blueviolet;    
    }
    
    #first_section {
      /* position:relative; */
      background-image: url("../img/music_player.jpeg");
      background-position: center;
      background-size: cover;
      margin: 0 0 0 0;
      width: 100%;
      height: 92vh;
    }
    #second_section {
      /* position:relative; */
      background-color: #333;
      background-position: center;
      background-size: cover;
      margin: 20% 0 0 0;
      width: 100%;
      height: 800px;
      background-color: #333;
    }
.container-fluid_second{
  background-color: #333;
  width: 100%;
  height: 1250px;
  position: absolute;
  text-align: center;
}
    #third_section {
      /* position:relative; */
      
      background-position: center;
      background-size: cover;
      margin: 186vh 0 0 0;
      width: 100%;
      height: 92vh;
    }
.container-fluid_third{
  background-color: #fff;
  width: 100%;
  height: 200px;
  position: absolute;
  text-align: center;
}
    .container-fluid{
      position: absolute;
      text-align: center;
    }
    .container-fluid p{
      margin: 5% 0 0 0;
      text-align: center;
      color: #fff;
    }
    .oq{
      color: #fff;
    }
    .rasm{
      width: 100%;
      height: 92vh;
    } 
    #fourth_section{
       /* position:relative; */
       background-image: url("../img/space.jpeg");
       background-position: center;
       background-size: cover;
       margin: 125vh 0 0 0;
       width: 100%;
       height: 92vh;
    }
    .rasm_card{
      background-position: center;
      background-size: cover;
      margin: 0 0 0 0;
      width: 80%;
      height: 60vh;
    }
    @import url("https://fonts.googleapis.com/css?family=Rubik:500");
* {
  padding: 0;
  margin: 0;
}


    .button {
      padding: 16px 22px;
      box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
      line-height: 1.25;
      background: rgb(143, 8, 8);
      text-decoration: none;
      color: white;
      font-size: 12px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      position: relative;
      transition: background-color 0.6s ease;
      overflow: hidden;
    }
    .button:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      transform-style: flat;
      transform: translate3d(-50%, -50%, 0);
      background: rgba(255, 255, 255, 0.1);
      border-radius: 100%;
      transition: width 0.3s ease, height 0.3s ease;
    }
    .button:focus, .button:hover {
      background: #9b1a00;
      color: white;
      text-decoration:none;
    }
    .button:active:after {
      width: 200px;
      height: 200px;
    }
    .button_2 {
      padding: 16px 42px;
      box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
      line-height: 1.25;
      background:blue;
      text-decoration: none;
      color: white;
      font-size: 12px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      position: relative;
      transition: background-color 0.3s ease;
      overflow: hidden;
    }
    .button_2:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      transform-style: flat;
      transform: translate3d(-50%, -50%, 0);
      background: rgba(255, 255, 255, 0.1);
      border-radius: 100%;
      transition: width 0.2s ease, height 0.1s ease;
    }
    .button_2:focus, .button_2:hover {
      background: #0d0153;
      color: white;
      text-decoration:none;
    }
    .button_2:active:after {
      width: 200px;
      height: 200px;
    }
    .a_link{
      font-size: 30px;
      color:#333;
    }
    .a_link:focus, .a_link:hover {      
      text-decoration:none;
      color:#333;
    }
.foot_link{
  color: rgb(195, 195, 195);
}
.foot_link:focus, .foot_link:hover{
  text-decoration:none;
  color: rgb(195, 195, 195);
}


    /*#third_section {
      /* position:relative; */
      /* background-image: url("../img/card.png");
      background-position: center;
      background-size: cover;
      margin: 90vh 0 0 0;
      width: 100%;
      height: 92vh;
    }    */